google-api-core==2.11.0
google-api-python-client==2.88.0
google-auth==2.19.1
google-auth-httplib2==0.1.0
google-cloud==0.34.0
google-cloud-bigquery==3.11.0
google-cloud-core==2.3.2
google-crc32c==1.5.0
google-oauth2-tool==0.0.3
google-resumable-media==2.5.0
googleapis-common-protos==1.59.0
pandas==2.0.2
db-dtypes==1.1.1
fastapi
typing_extensions
python-multipart
typing